.side-panel {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 360px;
  background-color: var(--color-bg);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
}
